@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(23.8%, #f7f7f7), color-stop(92%, #fcdddd));
  background-image: linear-gradient(0deg, #f7f7f7 23.8%, #fcdddd 92%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body .titile {
  color: #ffd9e6;
  font-size: calc(1em + 20vw);
  font-weight: 900;
  text-shadow: -0.0075em 0.0075em 0 #fef2f6, 0.005em 0.005em 0 #f6a5c1, 0.01em 0.01em 0 #f7aac4, 0.015em 0.015em #f7aec7, 0.02em 0.02em 0 #f8b3ca, 0.025em 0.025em 0 #f8b7cd, 0.03em 0.03em 0 #f8bcd0, 0.035em 0.035em 0 #f9c0d3;
  font-size: 8rem;
}

* body .music-container {
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(252, 168, 169, 0.6);
          box-shadow: 0 20px 20px 0 rgba(252, 168, 169, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

* body .music-container .music-info {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  opacity: 0;
  padding: 10px 10px 10px 150px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

* body .music-container .music-info h4 {
  margin: 0;
}

* body .music-container.play .music-info {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

* body .music-container.play .img-container img {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

* body .music-container .img-container {
  position: relative;
  width: 110px;
}

* body .music-container .img-container::after {
  content: '';
  background-color: #fff;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

* body .music-container .img-container img {
  width: inherit;
  height: 110px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-animation: rotate 4.5s linear infinite;
          animation: rotate 4.5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

* body .music-container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

* body .music-container .navigation .action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

* body .music-container .navigation .action-btn:focus {
  outline: 0;
}

* body .music-container .navigation .action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

* body .music-container .navigation .action-btn .bar {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 15px 15px;
  opacity: 0;
  padding: 10px 10px 10px 10px;
  top: 0;
  right: 0px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

* body .music-container .navigation button#volume {
  font-size: 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

* body .music-container .navigation button#volume:hover {
  font-size: 25px;
}

* body .music-container .navigation button#volume:hover .bar {
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
}

* body .music-container .navigation button#volume:hover .bar input {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: rgba(255, 255, 255, 0.5);
  border: #cdc2d0 1px solid;
  padding: 1px;
  border-radius: 15px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

* body .music-container .navigation button#volume:hover .bar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 45%;
  background: #f6a5c1;
  cursor: pointer;
}

* body .music-container .navigation button#volume:hover .bar input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 45%;
  background: #f6a5c1;
  cursor: pointer;
}

* body .music-container .navigation button#volume:hover .bar input:hover {
  opacity: 1;
}

* body .music-container .progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

* body .music-container .progress-container .progress {
  background: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */