@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
    body{
        height: 100vh;
        margin: 0;
        font-family: 'Lato', sans-serif;
        background-image: linear-gradient(
            0deg,
            rgb(247, 247, 247) 23.8%,
            rgb(252, 221, 221) 92%
            );
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .titile{
            color: mix(#fff, #ff0055, 85%);
            font-size: calc(1em + 20vw) ;  
            font-weight: 900;
            text-shadow: 
                -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
                0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
                0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
                0.015em 0.015em mix(#fff, #e91e63, 64%), 
                0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
                0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
                0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
                0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
                font-size: 8rem;
        }
        .music-container{
            background: #fff;
            border-radius: 15px;
            box-shadow: 0 20px 20px 0 rgba(252, 168, 169, 0.6);
            display: flex;
            padding: 20px 30px;
            position: relative;
            margin: 100px 0;
            z-index: 10;
            .music-info{
                background: rgba(255, 255, 255, 0.5);
                border-radius: 15px 15px 0 0;
                position: absolute;
                top: 0;
                left: 20px;
                width: calc(100% - 40px);
                opacity: 0;
                padding: 10px 10px 10px 150px;
                transform: translateY(0%);
                transition: transform 0.3s ease-in, opacity 0.3s ease-in;
                h4{
                    margin: 0;
                }
            }
            &.play{
                .music-info{
                    opacity: 1;
                    transform: translateY(-100%);
                }
                .img-container{
                    img{
                        animation-play-state: running;
                    }
                }
            }
            .img-container{
                position: relative;
                width: 110px;
                &::after{
                    content: '';
                    background-color: #fff;
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    left: 50%;
                    bottom: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                }
                img{
                    width: inherit;
                    height: 110px;
                    border-radius: 50%;
                    object-fit: cover;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    animation: rotate 4.5s linear infinite;
                    animation-play-state: paused;
                }
            }
            .navigation{
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                .action-btn{
                    background-color: #fff;
                    border: 0;
                    color: #dfdbdf;
                    font-size: 20px;
                    cursor: pointer;
                    padding: 10px;
                    margin: 0 20px;
                    &:focus{
                        outline: 0;
                    }
                    &.action-btn-big{
                        color: #cdc2d0;
                        font-size: 30px;
                    }
                    & .bar{
                        display: none;
                        position: absolute;
                        background: rgba(255, 255, 255, 0.5);
                        border-radius: 15px 15px 15px 15px;
                        opacity: 0;
                        padding: 10px 10px 10px 10px;
                        top: 0;
                        right: 0px;
                        transform: translateY(0%);
                        transition: transform 0.3s ease-in, opacity 0.3s ease-in;
                        input{
                            -webkit-appearance: none;
                            width: 100%;
                            height: 25px;
                            background: rgba(255, 255, 255, 0.5);
                            border: #cdc2d0 1px solid;
                            padding: 1px;
                            border-radius: 15px;
                            outline: none;
                            opacity: 0.7;
                            -webkit-transition: .2s;
                            transition: opacity .2s;
                            &::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                appearance: none;
                                width: 20px;
                                height: 20px;
                                border-radius: 45%;
                                background: mix(#fff, #e91e63, 60%);
                                cursor: pointer;
                            }
                            &::-moz-range-thumb {
                                width: 20px;
                                height: 20px;
                                border-radius: 45%;
                                background: mix(#fff, #e91e63, 60%);
                                cursor: pointer;
                            }
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                }
                button#volume{
                    font-size: 15px;
                    transition: .5s;
                    &:hover{
                        font-size: 25px;
                        .bar{
                            display: block;
                            transform: translateY(-50%);
                            opacity: 1;
                        }
                    }
                }
            }
            .progress-container{
                background: #fff;
                border-radius: 5px;
                cursor: pointer;
                margin: 10px 0;
                height: 4px;
                width: 100%;
                .progress{
                    background: #fe8daa;
                    border-radius: 5px;
                    height: 100%;
                    width: 0%;
                    transition: width 0.1s linear;
                }
            }
        }
    }
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}